<div class="login-container">
    <div class="header">
        <img class="logo" src="../../../assets/images/logo-tul.jpg">
    </div>
    <div class="content p-5">
        <h2>Log In</h2>

        <div [formGroup]="loginForm" class="w-full">
            <!-- Email -->
            <mat-form-field appearance="outline" class="w-full mb-0">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" class="form-control">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <!-- Actions -->
            <button mat-raised-button color="primary" class="w-full bg-teal mt-3" (click)="login()">Log
                In</button>
            <button mat-button class="w-full mt-2" routerLink="/signup">Sign up</button>
        </div>

    </div>