$primaryColor: #005a58; 

.primary-color{
    color: $primaryColor !important;
}
.bg-primary {
    background-color: $primaryColor !important;
}
.bg-teal {
    background-color: #005a58 !important    ;
}
.text-white {
    color: white;
}