<div class="login-container">
    <div class="header">
        <img class="logo" src="../../../assets/images/logo-tul.jpg">
    </div>
    <div class="content pt-5">
        <h2>Sign Up</h2>

        <div [formGroup]="signupForm" class="w-full">
            <!-- Name -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Nel" type="text">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Placeholder" type="email">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Placeholder" type="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="w-full bg-teal mt-3" (click)="signup()">Sign Up</button>
            <button mat-button class="w-full mt-2" routerLink="/login">Go to login</button>
        </div>
    </div>
</div>