.product-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;

    .title {
        font-size: 20px;
    }
    .price {
        font-size: 15px;
    }
}